@using Fatura.Application.ViewModel
@model ResetPassword    

<form asp-action="ResetPassword" asp-controller="User" method="post">
    <input type="hidden" asp-for=@Model.Email />
    <input type="hidden" asp-for=@Model.Token />
    <div class="mb-3">
        <label>
            Password:
        </label>
        <span class="text-danger" asp-validation-for=@Model.Password></span>
        <input type="password" asp-for=@Model.Password class=form-control />
    </div>

    <br />

    <div class="mb-3">
        <label>
            Confirm Password:
        </label>
        <span class="text-danger" asp-validation-for=@Model.ConfirmPassword></span>
        <input type="password" asp-for=@Model.ConfirmPassword class=form-control />
    </div>

    <br />

    <div>
        <button>
            Save
        </button>
    </div>

    <div>
        @ViewBag.ErrorMessage
    </div>

</form>