@using Fatura.Application.ViewModel
@model ResetPassword

<form asp-action="ResetPasswordForEmail" asp-controller="User" method="post">
    <div class="mb-3">
        <label>
            Email:
        </label>
        <span class="text-danger" asp-validation-for=@Model.Email></span>
        <input type="email" asp-for=@Model.Email class=form-control />
    </div>

    <br />

    <div>
        <button>
            Send
        </button>
    </div>

    <div>
        @ViewBag.ErrorMessage
    </div>

</form>